body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.HEADER{
    background-color:saddlebrown;
    margin: 0%;
    padding: 0%;
    color: whitesmoke;
    
}
img{
    width: auto;
    height: 100px;
}
    
